<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>登陆后台</title>
  <style>
    #main { position:absolute; top:100px; left:400px; width:500px; height:250px; background:#ccc }
    #photo { position:absolute; top:60px; left:50px; background:#ccc }
    #content { position:absolute; top:50px; left:200px; float:left; }
    #img { position:absolute; width:100px; height:100px; }
    .item { width:150px; }
  </style>
</head>
<body>
  <div id = "main">
    <div id = "photo">
      <img src="{{ data[0] }}" alt="头像" id = "img">
    </div>
    <div id = "content">
      <center>
        <form action="{{ data[1] }}" method="post">
          主 &nbsp; 机：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="hostname" class="item"><br/><br/>
          用户名：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="username" class="item"><br/><br/>
          密 &nbsp; 码：&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password" class="item"><br/><br/>
          <input type="submit" value="登陆">
        </form>
      </center>
    </div>
  </div>
</body>
</html>
